/* ==== GLOBAL COLORS ==== */
:root {
--background-color: #FFFFFF; /* White */
--text-color: #000000; /* Black */
--header-footer-color: #B1D2E0; /* Light Blue */
--accent-color: #A1C9B0; /* Sage Green */
}
/* ==== GLOBAL TYPOGRAPHY ==== */
/* Page Title (Poiret One) */
.page-title {
font-family: "poiret-one", sans-serif;
font-weight: 400;
font-style: normal;
color: var(--text-color);
}
/* Artwork Title (Condor Condensed) */
.artwork-title {
font-family: "condor-condensed", sans-serif;
font-weight: 400;
font-style: normal;
color: var(--text-color);
}
/* Footer or Art Info (Proxima Nova Extra Condensed Light) */
.footer-text, .art-info {
font-family:"proxima-nova-extra-condensed", sans-serif;
font-weight: 300;
font-style: normal;
color: var(--text-color);
}
/* ==== LAYOUT COLORS ==== */

body {
background-color: var(--background-color);
color: var(--text-color);
}
header, footer {
background-color: var(--header-footer-color);
}
button, .highlight {
background-color: var(--accent-color);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
